$groupo-color1: rgb(253, 45, 1);
$groupo-color2: rgb(43, 43, 43);
$groupo-color3: rgb(97, 96, 95);
$groupo-color4: rgb(79, 91, 105);
$groupo-color5: rgb(59, 68, 79);
$groupo-colorLight1: rgb(247, 244, 243);
$groupo-colorLight2: rgb(242, 238, 237);
$groupo-colorLight3: rgb(255, 241, 238);
$color-white: rgb(255, 255, 255);
$gradientColor1: rgb(79, 82, 97);
$gradientColor2: rgb(56, 58, 69);
$likeColor: rgb(0, 199, 0);
$ValidColor1: rgb(43, 223, 187);
